@charset "UTF-8";

body,html{

    background-color: gray;
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;

        margin: 0px;
        padding: 0px;
}
.corpo{
 background-color: rgb(0, 0, 0);
 width: 50px;
 height: 400px;
 display: flex;
z-index: 2;



}
.pescoço{
    background-color: rgb(0, 0, 0);
    width: 20px;
    height: 80px;
    margin-top:-403px ;
    margin-left: 23px;
    transform: rotate(70deg);
    z-index: 1;
}

